@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" /> 
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        
        <!-- Agregando una imagen -->
        <img src="~/images/welcome-image.jpg" alt="Meme bienvenida" class="img-fluid" style="max-width: 100%; height: auto;"/>
        
        <!-- Botón -->
        <div class="mt-3">
            <a href="/About" class="btn btn-primary">Learn More About Us</a>
        </div>
            <footer class="mt-5">
            <p>&copy; @DateTime.Now.Year - Mi Aplicación ASP.NET Core</p>
        </footer>
    </div>
</body>
</html>